            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" class="logo" src="./assets/img/fads.png">
                                <h5>Facebook</h5> <a href="{{ invoice.path }}">Facture</a>  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" class="logo" src="./assets/img/aws.png">
                                <h5>AWS</h5> <a href="{{ invoice.path }}">Facture</a>  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" class="logo" src="./assets/img/gads.png">
                                <h5>Google Ads</h5> <a href="{{ invoice.path }}">Facture</a> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" class="logo" src="./assets/img/mailchimp.jpg">
                                <h5>Mailchimp</h5> <a href="{{ invoice.path }}">Facture</a> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" class="logo" src="./assets/img/heroku.png">
                                <h5>Heroku</h5> <a href="{{ invoice.path }}">Facture</a> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" class="logo" src="./assets/img/twilio.png">
                                <h5>Twilio</h5> <a href="{{ invoice.path }}">Facture</a> </div>
                        </div>
                    </div>
                </div>
            </section>